body {
	background-image: url(img/fon.jpg);
	font-family: 13/18px Arial, Helvetica;
}


.resaize {
	background-color: white;
	width: 960px;
	margin: 20px auto;
}

.blue-line {
	background-color: #023876;
	height: 50px;
	border-radius: 8px;
}

.in-header {
	margin: 20px 15px;
}

.logo {
	float:left;
	width: 480px;
	text-decoration: none;
	color: black;
	display: block;
}

.logo_img {
	float: right;
	margin-right: 20px;
	margin-bottom: 15px;
}

.header_text {
	float: left;
	color: #023876;
	font-size: 28px;
	text-decoration: none;
}

.header_text_big {
	color: #023876;
	font-size: 56px;
}

.number {
	float: right;
}

.content {
	margin: 15px;
}

.right_content {
	float: right;
	margin-top: 20px;
	color: #023876;
	width: 310px;
}

.right_menu {
	color: white;
	background-color: #023876;
	padding: 8px;
	font-size: 22px;
}


.menu {
	list-style-type: none;
	
}

.content_link {
	color: #0364D3;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
}

.content_text {
	margin-top: 20px;
	width: 600px;
}

.content_text_top {
	color: #023876;
	font-size: 26px;
}

.footer {
	margin-top: 80px;
}

.bottom-text {
	color: white;
	padding-left: 15px;
	padding-top: 15px;
}